# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv-1/
venv/
.Python

# Django
db.sqlite3
media/
staticfiles/
*.log

# Entornos y secretos
.env
.env.*
*.env
secrets.json

# Node / Expo / React Native
node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
